* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  /* transition: 0.5s; */
}
body {
  min-height: 100vh;
  background: hsl(0, 0%, 98%);
}
/* Start Main style */
.btn-sml {
  width: 160px;
  height: 40px;
  border-radius: 25px;
  color: #e5e5e5;
  font-weight: 700;
  border: none;
  background: linear-gradient(
    70deg,
    hsl(136, 65%, 51%) 30%,
    hsl(192, 70%, 51%)
  );
  cursor: pointer;
}
.btn-sml:hover {
  filter: brightness(1.1);
}
/* End Main style */
/* ----------------------------------------------------------------------------------------- */
#hiden {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, black, transparent);
  position: absolute;
  z-index: 99;
  visibility: hidden;
}
/* Start Nav */
nav {
  display: flex;
  height: 75px;
  background: #fff;
  padding: 0 10%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}
nav .logo {
  height: 22px;
}
nav .nav-des ul {
  display: flex;
}
nav .nav-des ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 10px;
}
nav .nav-des ul li a:after {
  content: "";
  width: 0%;
  margin: 3px auto 0 auto;
  display: block;
  height: 5px;
  background: linear-gradient(
    70deg,
    hsl(136, 65%, 51%) 30%,
    hsl(192, 70%, 51%)
  );
  transition: 0.5s;
}
nav .nav-des ul .active a:after,
nav .nav-des ul li a:hover:after {
  width: 90%;
}
nav .nav-des ul li a:hover,
nav .nav-des ul .active a {
  color: #161616;
}
nav .nav-des ul li a {
  text-decoration: none;
  color: #b3adad;
  font-size: 16px;
  font-weight: 500;
}
/* Start nav-mbl */
nav .nav-mbl img {
  height: 16px;
  cursor: pointer;
}
nav .nav-mbl {
  display: none;
}
nav .menu {
  width: 90%;
  height: 40vh;
  background: #fff;
  position: absolute;
  top: -300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
}
nav .menu ul {
  max-height: 100%;
  width: 100%;
}
nav .menu ul li {
  list-style: none;
  margin: 25px;
}
nav .menu ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}
nav .menu ul li a:hover {
  font-weight: bolder;
  letter-spacing: 1.8px;
}
#close {
  display: none;
}
#close img {
  height: 25px;
}
/* End nav-mbl */
/* End Nav */
/* ----------------------------------------------------------------------------------------- */
/* Start Heading-Intro */
.heading-intro {
  height: 100vh;
  display: flex;
}
.text-intro {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 125px;
}
.text-intro h1 {
  font-size: 45px;
  color: #2d2e4a;
  font-weight: 400;
}
.text-intro p {
  color: #adadad;
  font-weight: 500;
  line-height: 1.6;
  margin: 20px 0;
}
.background-intro {
  width: 60%;
  position: relative;
  overflow-x: clip;
  z-index: 1;
}
.background-intro .back {
  height: 850px;
  position: absolute;
  top: -195px;
  left: -50px;
  z-index: -1;
}
.background-intro .front {
  position: absolute;
  top: -125px;
  right: -135px;
  z-index: -1;
}
/* End Heading-Intro */
/* ----------------------------------------------------------------------------------------- */
/* Start Section Esybank */
.esybank {
  min-height: 95vh;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 120px;
}
.esybank h2 {
  font-size: 35px;
  color: #2d2e4a;
}
.esybank p:not(.container p) {
  font-size: 18px;
  max-width: 625px;
  color: #a7a7a7;
  margin: 30px 0 70px 0;
}
.esybank .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));

  gap: 35px;
}
.esybank .container h3 {
  margin: 28px 0;
  color: #2d2e4a;
  font-weight: 600;
}
.esybank .container p {
  font-size: 16px;
  color: #a7a7a7;
}
/* End Section Esybank */
/* ----------------------------------------------------------------------------------------- */
/* Start Section Articles */
.articles {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 120px;
}
.articles h2 {
  font-size: 35px;
  color: #2d2e4a;
  margin-bottom: 60px;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 35px;
}
.articles .container .card {
  display: flex;
  flex-direction: column;
}
.articles .container img {
  height: 180px;
  width: 240px;
}
.articles .container span,
.articles .container a,
.articles .container p {
  margin: 0 25px;
}
.articles .container span {
  font-size: 12px;
  color: #adadad;
  margin: 20px 0 10px 25px;
}
.articles .container a {
  color: #2d2e4a;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}
.articles .container a:hover {
  color: #66bba0;
}
.articles .container p {
  font-size: 14px;
  color: #adadad;
  font-weight: 500;
}
/* End Section Articles */
/* ----------------------------------------------------------------------------------------- */
/* Start Footer */
footer {
  min-height: 30vh;
  background: #2d2e4a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .one .logo {
  filter: invert(1);
  margin-bottom: 35px;
}
footer .one a {
  margin-right: 5px;
}
footer .two {
  display: flex;
  width: 300px;
  justify-content: space-around;
}
footer .two .links-1,
footer .two .links-2 {
  display: grid;
  gap: 15px;
}
footer .two a {
  text-decoration: none;
  color: #cdcdcd;
}
footer .two a:hover {
  color: #66bba0;
}
footer .three button {
  margin-left: 70px;
}
footer .three p {
  margin-top: 20px;
  color: #a1a1a1;
  font-weight: 600;
}
/* End Footer */
/* ----------------------------------------------------------------------------------------- */
/* Start Media Qures */
@media (max-width: 1220px) {
  .esybank .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .articles .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 1100px) {
  .background-intro .back {
    height: 650px;
    top: -45px;
    left: -15px;
  }
  .background-intro .front {
    top: -125px;
    right: -135px;
    height: 770px;
  }
  nav {
    padding: 0 5%;
  }
}
@media (max-width: 856px) {
  .heading-intro {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .text-intro {
    width: 100%;
    height: 50%;
    padding: 0 20px;
    text-align: center;
  }
  .text-intro button {
    margin: 0 auto;
  }
  .background-intro {
    height: 50%;
    overflow-x: unset;
  }
  .background-intro .front {
    top: -270px;
    left: 25%;
    height: 660px;
  }
  .background-intro .back {
    height: 650px;
    top: -250px;
    left: 180px;
  }
  .esybank,
  .articles {
    text-align: center;
    padding: 40px 75px;
  }
  nav .nav-des ul,
  nav button {
    display: none;
  }
  nav .nav-mbl {
    display: block;
  }
  .articles .container img {
    width: auto;
  }
  footer {
    flex-direction: column;
    padding: 30px 0;
  }
  footer .two {
    flex-direction: column;
  }
  footer .one,
  footer .two,
  footer .three {
    margin-bottom: 25px;
    text-align: center;
  }
  footer .two a {
    width: 100px;
    margin: auto;
  }
  footer .two .links-1 {
    margin-bottom: 15px;
  }
  footer .three button {
    margin: auto;
  }
}
@media (max-width: 700px) {
  .background-intro .front {
    top: -200px;
    left: 25%;
    height: 550px;
  }
  .background-intro .back {
    left: 125px;
    height: 600px;
  }
}
@media (max-width: 550px) {
  .background-intro .front {
    top: -170px;
    height: 500px;
    left: 15%;
  }
}
@media (max-width: 411px) {
  .background-intro .front {
    top: -100px;
    left: 15px;
    height: 480px;
  }
  .background-intro .back {
    top: -217px;
    left: -110px;
  }
}
/* End Media Qures */
